html, body{
    scroll-behavior: smooth;
    overflow-x: hidden;
    width : 100%;
    height : 100%;
}

input {
	-moz-border-radius: 15px;
	border-radius : 15px;
	border :solid 1px black;
	padding :5px;
}

#logo{
	width :100px;
}

#head{
    color: #44459f;
    font-family:"quicksand";
    font-weight:bold;
    text-align: right;
    margin-top: 30px;
}

.nav-link{
    font-family:"quicksand";
}

#text-onlibe{
    margin-top: 28px;
	width: 140px; 
	display :inline
}

.col-md-7{
    padding-right: 0px;
}

.col-md-5{
    padding-left: 5px;
}
