html, body{
	scroll-behavior: smooth;
	overflow-x: hidden;
	width : 100%;
	height : 100%;
}

h1{
	text-align : center;
	font-family : "quicksand";
	font-style : "normal";
	font-weight : bold;
	font-size : 50px;
	margin-top : 30px;
	color: #FD913C;
}

h2 {
	font-family : "quicksand";
}

p {
	font-family : "quicksand";
}

.jumbotron {
	padding : 20px;
	margin : 30px;
}

.nav-link{
    font-family: "quicksand";
}
