#title{
    color: #44459f;
    font-family:"quicksand";
    text-align: right;
    margin-top: 30px;}
.nav-link{
    font-family:"quicksand";}
#text-onlibe{
    margin-top: 28px;}
.col-md-7{
    padding-right: 0px;}
.col-md-5{
    padding-left: 5px;}
#title2{
    color: #44459f;
    font-family:"quicksand";
    text-align: center;
    margin-top: 30px;
    }
#books{
    font-family: "quicksand";
    color: #fd913c;
    margin-left: 100px;
    margin-top: 50px;}
.col-sm-4{
    padding: 0px;}