<!DOCTYPE html>
{% load static %}

<html>
<head>
	<meta charset = "UTF-8">
    <link rel = "stylesheet" href ="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin ="anonymous">
    <meta name = "viewport" content ="width=device-width, initial-scale=1">
    <link rel = "stylesheet" href = "{% static 'css/styleAddBook.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">

	<title> Add Book </title>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="{% static 'images/onlibe_logo.png' %}" style="width: 100px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href= "/testimoni/"> about us </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/borrow/"> borrow <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href= "{% url 'discover:addbook' %}"> add books </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'discover:discover' %}"> discover </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile/"> profile </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href= "#"> log out </a>
            </li>
        </ul>
    </div>
</nav>

<body>
    <div class = "container-fluid">
    <div class = "row">
        <div class = "col-md-7">
            <h1 id = head> Add a book to </h1>
	    </div>
        <div class = "col-md-5">
            <img id ="text-onlibe" src = "{% static 'images/onlibe-text.png' %}">
        </div>
    </div>
    <div class = "row">
        <div class = "col-md-3">
        </div>
        <div class = "col-md-6">
    		<form method = "POST" class = "form">
    			{% csrf_token %}
    			<p> title </p>
    			{{form.title}}
    			<p> author </p>
    			{{form.author}}
                <div class = "row">
                    <div class = "col-md-6">
            			<p> genre </p>
            			{{form.genre}}
                    </div>
                    <div class = "col-md-6">
            			<p> publisher </p>
            			{{form.publisher}}
                    </div>
                </div>
    			<p> synopsis </p>
    			{{form.synopsis}}
    		    <p> </p>
                <button type = "submit" class = "btn btn-primary"/> add book </button>
        	</form>
        </div>
	</div>
</div>
</body>

</html>