<!DOCTYPE html>
{% load static %}

<html>
<head>
	<meta charset = "UTF-8">
    <link rel = "stylesheet" href ="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin ="anonymous">
    <meta name = "viewport" content ="width=device-width, initial-scale=1">
    <link rel = "stylesheet" href = "{% static 'css/styleDiscover.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">

	<title> Discover </title>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="{% static 'images/onlibe_logo.png' %}" style="width: 100px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href= "/testimoni/"> about us </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href= "/borrow/"> borrow <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href= "/discover/addbook"> add books </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href= "/discover/"> discover </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href= "/profile/"> profile </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href= "#"> log out </a>
            </li>
        </ul>
    </div>
</nav>

<body>
    <h1> find your book! </h1>
    <div class = "row">
        {% for buku in listBuku %}
        <div class = "col-sm-4 text-center">
            <div class = "container-fluid">
                <div class = "jumbotron">
                    <h2> {{buku.title}} </h2>
                    <div class="flex">
                        <p> Author      : {{buku.author}} </br>
                            Genre       : {{buku.genre}} </br>
                            Publisher   : {{buku.publisher}} </br>
                            Synopsis    : {{buku.synopsis}} </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
 
</body>

</html>
