html, body{
    scroll-behavior:smooth;
    overflow-x: hidden;
    width:100%;
    height:100%;
}

#userName{
    color: #44459F;
}
#fotoKelompok{
    max-width: 400px;
    height: auto; 
    margin-top:15%;
}

.form-group{
    text-align: center;
}

.form-row{
    text-align: center;
}

#addbutton{
    display: inline-block;
    font-family: Quicksand;
    margin-top:5%;
    margin-bottom:10%;
}

.aboutt{
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.prof{
    width:100%;
    float:center;
    margin:10%;
    margin-top:12%;
}

#aboutus{
    max-width : 1500px;
    width: auto; 
    height: auto;
    margin-left: 10%;
}

#aboutTitle{
    padding-top : 5%;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 900;
    font-size: 3.2vw;
    line-height: 138.5%;
    color: black;
    /* padding-left:6%; */
}

#logoOnlibe{
    width:125px;
    height:auto;
}

#aboutText{
    width:100%;
    max-width: 650px;
    height: auto;
    font-family: Quicksand;
    font-style: normal;
    font-size: 1.5vw;
    color: black;
    /* padding-left:6%; */
    padding-right : 10%;
}

#testiTitle{
    font-family: Quicksand;
    font-size: 3.2vw;
    color : white;
    background-color: #44459F;
    padding-top: 5%;
    padding-bottom: 5%;
    width:110%;
    display: inline-block;
}

.testi{
    width:100%;
    justify-items: center;
    justify-content: center;
    text-align: center;
}

.article{
    justify-content: center;
    align-content: center;
    padding-top:5%; 
    text-align:center;
}

#userTestimoni{
    font-family : Quicksand;
    font-size:1.5vw;
    font-color : black;
}

#userName{
    font-family : Quicksand;
    font-size:1vw;
    font-color : grey;
}


.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}

.carous{
    margin-top:5%;
    text-align: center;
}

.carouu{
    width: 900px;
    background-color: white;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    display: inline-block;
}

.carousel-control-prev-icon, 
.carousel-control-next-icon{
    outline : black;
    border : 3px black;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 2vw;
  color: #FD913C
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 2vw;
  color: #FD913C;
}


.bg-modal{
    width: 100%;
    height:100%;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    top:0; 
    left:0;
    display : flex;
    justify-content: center;
    align-items: center;
    display : none;
}

.modal-content{
    position:relative;
    width : 500px;
    height: auto;
    background-color: white;
    opacity:1;
    border-radius : 4px;
}

#reviewTitle{
    font-family: Quicksand;
    font-size: 2vw;
    color: #FD913C;
    text-align:center;
    padding-top:2%;
}

input{
    width: 60%;
    display:block;
    margin: 2% auto;
}


.btn-revbutton{
    left: 50%;
    background-color: #FD913C;
    color : white;
    border-radius: 5px;

}

.close{
    float:right;
    right : 14px;
    position:absolute;
    transform: rotate(45deg);
    top: 2%;
    cursor: pointer;
}

.label {
    font-size: 1.5vw; 
    font-family: Quicksand;
}


.btn-add{
    width:100%;
    min-width: 50px; 
    max-width:132px;
    max-height:45px;
    background-color: #FD913C;
    color : white;
    border-radius: 5px;
    font-family: Quicksand;
    display: inline-block;
}


@media screen and (max-width:600px){
    img#fotoKelompok{
        width:180px;
        height:auto;
        margin-left:15%;
    }

    div#aboutus{
        margin-top:5%;
        width:300px; 
        height:auto;
    }

    label.label{
        font-size: 4vw; 
    }

    span.carousel-control-next-icon:after,
    span.carousel-control-prev-icon:after{
        font-size: 5vw;
    }

    div.carouu{
        justify-content: center;
        align-items: center;
        margin:auto;
        width : 300px; 
        height : auto; 
    }
    p#aboutTitle{
        font-size: 5.5vw;
    }

    h2#userTestimoni{
        font-size: 4vw;
    }

    p#userName{
        font-size: 3vw;
        color: #44459F;
    }

    p#aboutText{
        font-size:3.5vw;
    }

    div.bg-modal{
        justify-content: center;
        align-items: center;
        margin:auto; 
        padding:auto;
        width: 100%;
        height:100%;
        background-color: rgba(255,255,255,0.7);
        position: absolute;
        top:0; 
        left:0;
    }

    div.modal-content{
        position:relative;
        width : 250px;
        height: auto;
        background-color: white;
        opacity:1;
        border-radius : 4px;
        padding:auto;
        margin:auto;
    }



    .prof{
        left:0;
        margin-left:-5%;
        margin-right:20%;
    }

    p#reviewTitle{
        font-size:5vw;
    }

    form.revForm{
        padding : 2%;
        margin: 2%;
    }

    img#logoOnlibe{
        height:36px;
        width: 70px;
    }

    p#testiTitle{
        width: 100%;
        font-size:5.5vw;
        padding-right : 2%;
        padding-left: 2%;
        text-align: center;
        margin:0;
        float:center;
    }

    a#addbutton{
        width:150px;
        height:auto;
        font-size:3.5vw;
        padding:auto;
        margin-top:-2%;
    }
}