<!DOCTYPE html>
{% load static %}
<html lang="en">
 	
 	<head>
    	
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- App CSS -->
    <link rel="stylesheet" href="{% static 'css/styleaccounts.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">

    <!-- Website Title  -->
    <title>OnLibe</title>

  </head>

  <body>

		<!-- Bootstrap Sticky Navbar -->
  	<nav class="navbar navbar-expand-sm bg-light navbar-light sticky-top">

  		<!-- Navbar Brand/Logo -->
  		<a class="navbar-brand" href="{% url 'homepage:index' %}">
        <img src="{% static 'images/onlibe_logo.png' %}" id="logoOnLibe" style="width: 125px">
      </a>

  		<!-- Toggler/collapsibe Button -->
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    		<span class="navbar-toggler-icon"></span>
  		</button>

  		<!-- Navbar Links -->
  		<div class="collapse navbar-collapse" id="collapsibleNavbar">
  			<ul class="navbar-nav ml-auto" style="margin-right: 30px;">

          <li class="nav-item">
            <a class="nav-link" href="#" style="font-family: Quicksand; font-size: 20px;"> 
              about us 
            </a>
          </li>

    			<li class="nav-item">
      			<a class="nav-link" href="{% url 'accounts:signup' %}" style="font-family: Quicksand; font-size: 20px;"> 
              sign up 
            </a>
    			</li>

    			<li class="nav-item">
      			<a class="nav-link" href="{% url 'accounts:login' %}" style="font-family: Quicksand; font-size: 20px;"> 
              log in 
            </a>
    			</li>

  			</ul>
  		</div>

		</nav>

    {% if user.is_authenticated %}
    <header class="text-right mb-3" style="margin-top:20px; margin-right: 20px">
      <form class="site-form" action="{% url 'accounts:logout' %}" method="post">
        {% csrf_token %}

        <button class="btn text-white" style="background-color:#FD913C; font-family: Quicksand; font-size: 20px;" type="submit">
          log out
        </button>

      </form>
    </header>
    {% endif %}

    <div class="container" style="margin-top:40px; margin-bottom:40px">
      <div class="card-group">

        <div class="card text-center text-white" style="background-color:#FD913C; box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);">
          <div class="card-body d-flex align-items-center justify-content-center">

              <h1 style="font-family: Quicksand; font-weight: bold; font-size: 50px;"> 
                <strong> "BANYAKIN BACA BUKU NGAPA BIAR LO GA TOLOL2 AMET" </strong> <br/>
                <small class="text-muted"> ~SOCRATES~ </small> <br/>
                <br/>
                <strong> "ORANG BODOH ADALAH ORANG PINTAR YANG TIDAK BACA BUKU"</strong> <br/>
                <small class="text-muted"> ~Joaquin Phoenix~ </small>
              </h1>

          </div>
        </div>

        <div class="card" style="box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);">
        
          <div class="wrapper">
            {% block content %}

            {% endblock %}
          </div>
          
        </div>

      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
    crossorigin="anonymous"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
    crossorigin="anonymous"></script>

    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
    crossorigin="anonymous"></script>

  </body>

</html>