{% extends 'accounts/base_accounts.html' %}

{% load crispy_forms_tags %}
{% load static %}

  {% block content %}

    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">

        <li class="nav-item">
          <a class="nav-link active" href="" style="font-family: Quicksand; font-size: 30px;"> SIGN UP </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:login' %}" style="font-family: Quicksand; font-size: 30px;"> LOG IN </a>
        </li>

      </ul>
    </div>

    <div class="container" style="margin-top:40px; margin-bottom:40px">

      <form action="{% url 'accounts:signup' %}" method="post">
        {% csrf_token %}

        <fieldset class="form-group">
          <h1 style="font-family: Quicksand; font-weight: bold; font-size: 40px;"> JOIN US TODAY! </h1>
          {{ form|crispy }}
        </fieldset>

        <div class="form-group" >
          <button class="btn btn-lg text-white" style="background-color:#FD913C; font-family: Quicksand; font-size: 20px" type="submit">
            sign up
          </button>
        </div>
        
      </form>

      <div class="border-top pt-3">
        <small class="text-muted">
            Don't Have An Account Yet? <a class="ml-2" href="{% url 'accounts:signup' %}">Make An Account</a>
        </small>
      </div>

    </div>

  {% endblock %}