html, body{
    scroll-behavior:smooth;
    overflow-x: hidden;
    width:100%;
    height:100%;
}

h1 {
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 100px;
	line-height: 60px;
	text-align: center;
	font-color: #FFFFFF;
}

a {
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	line-height: 60px;
	text-align: center;
	font-color: black;
}

.card {
	background-color: rgb(255, 165, 0);
}

#logoOnLibe{
    width:125px;
    height:auto;
}