<!DOCTYPE html>
{% load static %}
<html lang="en">
 	
	<head>
    	
    	<!-- Required meta tags -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    	<!-- Personal CSS -->
    	<link rel="stylesheet" href="{% static 'css/styleindex.css' %}">

    	<!-- Bootstrap CSS -->
    	<link rel="stylesheet" 
    	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    	crossorigin="anonymous">

    	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">

    	<!-- Website Title  -->
    	<title>OnLibe</title>

  	</head>

  	<body>

		<!-- Bootstrap Sticky Navbar -->
  		<nav class="navbar navbar-expand-sm bg-light navbar-light sticky-top">

  			<!-- Navbar Brand/Logo -->
  			<a class="navbar-brand" href="{% url 'homepage:index' %}">
        		<img src="{% static 'images/onlibe_logo.png' %}" id="logoOnLibe" style="width: 125px">
      		</a>

  			<!-- Toggler/collapsibe Button -->
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    			<span class="navbar-toggler-icon"></span>
  			</button>

  			<!-- Navbar Links -->
  			<div class="collapse navbar-collapse" id="collapsibleNavbar">
  				<ul class="navbar-nav ml-auto" style="margin-right: 30px;">

  					<li class="nav-item">
                		<a class="nav-link" href="/testimoni/" style="font-family: Quicksand; font-size: 20px;"> 
                			about us 
                		</a>
            		</li>

    				<li class="nav-item">
      					<a class="nav-link" href="{% url 'accounts:signup' %}" style="font-family: Quicksand; font-size: 20px;"> 
      						sign up 
      					</a>
    				</li>

    				<li class="nav-item">
      					<a class="nav-link" href="{% url 'accounts:login' %}" style="font-family: Quicksand; font-size: 20px;"> 
      						log in 
      					</a>
    				</li>

  				</ul>
  			</div>

		</nav>

    	<div class="row">

    		<div class="col-sm-6">

                <!-- Bootstrap Responsive Column Span-4 -->
                <div class="container" style="margin-top:50px; margin-bottom:50px; padding-right: 10%; padding-left: 10%">

                    <div class="container my-3">

                        <h1 class="border-bottom mb-4" style="font-family: Quicksand; font-weight: normal; font-size: 70px;">
                        	<strong>YOUR BOOK IS CALLING!</br> YOUR JOURNEY AWAITS!</strong>
                        </h1>

                        <h4 style="font-family: Quicksand; font-size: 30px; line-height: 30px;"> 
                        	Go and collect your <strong>online</strong> books right here, right now at 
                        	<img src="{% static 'images/onlibe-text.png' %}" style="width:auto; max-height: 30px;">
                        </h4>

                        <div class="row">

                        	<form action="{% url 'accounts:signup' %}" method="post">
        						{% csrf_token %}

        						<button class="btn btn-lg text-white" style="background-color:#44459F; margin:15px" type="submit">
        							become a member
        						</button>

        					</form>

        					<form action="{% url 'accounts:login' %}" method="post">
        						{% csrf_token %}

        						<button class="btn btn-lg text-white" style="background-color:#44459F; margin:15px" type="submit">
        							explore books
        						</button>

        					</form>
                        </div>

                    </div>
                </div>
          	</div>

          	<div class="col-sm-6">

          		{% if user.is_authenticated %}
    			<header class="text-right mb-3" style="margin-top:20px; margin-right: 20px">
      				<form class="site-form" action="{% url 'accounts:logout' %}" method="post">
        				{% csrf_token %}

        				<button class="btn text-white" 
        				style="background-color:#FD913C; font-family: Quicksand; font-size: 20px;" type="submit">
          					log out
        				</button>

      				</form>
    			</header>
    			{% endif %}

                <div class="container" style="padding-top: 5%; padding-right: 0%; padding-bottom: 0%">
                	<img class="img-fluid float-right" src="{% static 'images/reading_man.png' %}">
                </div>
            </div>

    	</div>

    	<!-- Optional JavaScript -->
    	<!-- jQuery library -->
    	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
    	crossorigin="anonymous"></script>

    	<!-- Popper JS -->
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
    	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
    	crossorigin="anonymous"></script>

    	<!-- Bootstrap JavaScript -->
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
    	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
    	crossorigin="anonymous"></script>

  	</body>

</html>