<!DOCTYPE html>
{% load static %}
<html>
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/CSS">
            <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
            <script src="https://kit.fontawesome.com/1927c4eb85.js" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>About Us</title>
    </head>
<body> 

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <img id="logoOnlibe" src="{% static 'images/onlibe_logo.png' %}"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto" style="margin-right: 30px;">
                        <li class="nav-item active">
                            <a class="nav-link" href="/testimoni/">about us</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="/borrow/">borrow</a>
                            </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/discover/addbook/">add books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/discover/">discover</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile/">profile</a>
                        </li>
                        <li class="nav-item">
                            <form class="site-form" action="{% url 'accounts:logout' % }" method="post">
                                {% csrf_token %}
                                <a class="nav-link" href="#">log out</a>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>




    <div class="container-fluid prof justify-content-md-center">
        <div class="row">
            <div class="col-md-auto">
                <img id="fotoKelompok" src="{% static 'images/onlibe-text.png' %}"></img>
            </div>
            <div class="col-md-8">
                <div class="container aboutt" id="aboutus">
                        <p id="aboutTitle">What is onLibe?</p>
                        <p id=aboutText> OnLibe is an online and editable library catalog. We aim to raise literature awareness for young generations. Onlibe provides a free service of borrowing books so users can do it easily!  </p>
                </div>
            </div>
        </div>
    </div>
        <div class="row testi">
            <div class="col-md-12 justify-content-xs-center">
                        <p id=testiTitle>What do they say about us?</p>
                
        </div>
    </div>

         <div class="row carous">
                    <div class="col-md-12 justify-content-md-center">
                        <div class="container carouu">
                                    <div id="carouselContent" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner" role="listbox">
                                            {% for testimoni in testimonies %}
                                            {% if forloop.counter == 1 %}
                                                <div class="carousel-item active text-center p-4">
                                                    <h2 id="userTestimoni">{{ testimoni.review }}</h2>
                                                        <p id="userName">{{ testimoni.name}}</p>
                                                        <br>
                                                 </div>
                                                {% else %}
                                                <div class="carousel-item text-center p-4">
                                                        <h2 id="userTestimoni">{{ testimoni.review }}</h2>
                                                        <p id="userName">{{ testimoni.name}}</p>
                                                        <br>
                                                    </div>
                                                {% endif %}
                                                {% endfor %}
                                            <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                    </div>
                                
                            </div>
                        </div>
         </div>
    
            <div class="row">
                 <div class = 'col-md-12'>
                            <div class = 'form-group'>
                                 <a href="#" id="addbutton" class="btn btn-revbutton">Give us a review!</a>
                            </div> 
                                </div>
                        </div>
                    
    
    
     <!-- MODAL SECTION -->
     <div class="bg-modal">
            <div class="modal-content">
                <div class="close">+</div>
    
                <p id="reviewTitle"> Give us a review!</p>
                {% block content %}
                <form action="/testimoni/" method="POST" class="revForm">
                        <div class="form-row">
                            <div class="col-sm-1"></div>
                            <div class="form-group col-sm-10">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        <div class="field">
                                            <label for="{{field.id_for_label}}" class="label">{{ field.html_name }}</label>
                                            {{ field }}
                                        </div>
                                    {% endfor %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-1"></div>
                            <input type="submit" class="btn btn-add " value="Submit">
                </form>
                {% endblock %}
            </div>
        </div>
    
    </div>
        <script>
        document.getElementById("addbutton").addEventListener('click', function(){
            document.querySelector('.bg-modal').style.display = 'flex';
        })
        
        document.querySelector('.close').addEventListener('click', function(){
            document.querySelector('.bg-modal').style.display = 'none';
        })
        </script>



</body>

</html>